
<div class="jumbotron">
  <h1>MentorMate Academy!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
</div>

<div class="row marketing">
  <ul>
    <li>
      Backend REST API: <a href="http://cloudconfvarnamicroservices.azurewebsites.net/api/matches" target="_blank">http://cloudconfvarnamicroservices.azurewebsites.net/api/matches</a>
    </li>
    <li>
      Backend Repo: <a href="https://github.com/dimitardanailov/cloud_conf_varna_microservices_rest_api" target="_blank">https://github.com/dimitardanailov/cloud_conf_varna_microservices_rest_api</a>
    </li>
    <li>
      Front End Repo: <a href="https://github.com/dimitardanailov/microservices-frontend-example" target="_blank">https://github.com/dimitardanailov/microservices-frontend-example</a>
    </li>
  </ul>
  <div ng-repeat="match in matches">
    <h4>
      {{ match.HomeTeam }} {{ match.HomeTeamResult }}
      -
      {{ match.AwayTeamResult }} {{ match.AwayTeam }}
    </h4>
  </div>
</div>
